/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
}

#linkList {
  float: left;
}

#loginList {
  float: right;
}

a {
  color: lightblue;
}

a:hover {
  color: yellow;
}

form {
  position: absolute;
  z-index: 2;
  opacity: 0.95;
  width: 150px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

input {
  margin-bottom: 5px;
}

.grid {
  margin-top: 5px;
  padding: 5px;
  left: 20px;
}

.grid-item {
  width: 23%;
}

.card h5 {
  margin: 0;
}

.info {
  margin: 0;
  padding: 5px;
}

.displayName {
  font-size: 10px;
  width: 30px;
}

.likes {
  float: right;
}

.likes i {
  margin: 3px;
}

.fa-times {
  position: absolute;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  color: black;
  cursor: pointer;
  top: 5px;
  right: 5px;
}

.fa-times:hover {
  background-color: black;
  color: white;
}

.alert {
  position: relative;
}

.alert .fa-times {
  background-color: transparent;
}

